@charset "UTF-8";

div#corpo {
  position:absolute;
  width: 1200px;
  height: auto;
  background-color: #fffafa;  
  margin-left: 50px;
  margin-right: auto;
  margin-top: auto;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px black;
}

div#interface {
  position: absolute;
  width: 600px;
  height: 90px;
	background-color: #ffffff;
	margin: 10px auto 0px auto;
  margin-left: 0px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 10px black;
	}

div#logo {
  position: relative;
  width: 400px;
	height: 80px;
  margin-top: 10px;
  margin-left: -5px;
	}

div#login {
  width: 0px;
	height: 80px;
	margin-top: 7px;
	margin-left:550px;
  background-color:;
	}

div#menu {
position: relative;
background-color:;
width: 280px;
height: 360px;
margin-top: 140px;
padding: 20px 0px 0px 20px;
box-shadow: 0px 0px 10px black;
}

div#menu_cliente {
position: relative;
float: right;
width: 550px;
height: 100px;
margin-top: -510px;
padding: 10px 0px 0px 20px;
background-color:;
}

img#logo {
	width: 600px;
	height: 70px;
  margin: 0px;
	border-radius: 10px;
  }

table#login {
  width: 100%;
  float: center;
  margin-top: -16px;
  margin-left: 150px;
}

table#tablefotos {
  border:1px solid black;
  border-spacing: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -20px 20px 20px black;
}

table#tablefotos td {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 0px 0px 10px black;
}

button#login {
  display:inline-block;
  border:none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  font:400 16px Arial;
  color:#999;
  padding: 10px;
  padding-top: 10px;
  transition:all 0.5s linear;
  cursor: pointer;
}

button#login:hover {
  background:#00456F;
  color:#fff;
 transition:all 0.5s linear;
}

button#login:hover a{
  color:#fff;
}

/*div#corpo {
  display: block;
  width: 300px;
  float: left;
  border-right: 1px solid #606060;
  padding-right: 15px;
  background-color:;
}*/

  div#fotossite {
  width: 1100px;
  height: 800px;
  border: 1px solid black;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color:none;
  box-shadow: 10px 10px 10px black;
  }